<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 开启缓存（默认就是开启的，这里显示开启），并且开启日志功能   -->
    <settings>
        <setting name="cacheEnabled" value="true"/>
<!--        <setting name="logImpl" value="LOG4J"/>-->
    </settings>


    <!-- 使用实体类别名，为后面的xxxmapper.xml方便   -->
    <typeAliases>
        <package name="com.takeaway.pojo"/>
    </typeAliases>


    <!-- 该包下的所有mapper接口   -->
    <mappers>
        <package name="com.takeaway.mapper"/>
    </mappers>

</configuration>