<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takeaway.mapper.MemberMapper">

    <select id="queryById" resultType="Member">
        select * from member where id = #{id} and password = #{pwd}
    </select>

    <select id="queryByNick" resultType="Member">
        select * from member where nick = #{nick}
    </select>

    <insert id="signinMember" parameterType="map">
        insert into member (email,nick,password,credit,layerid) value (#{email},#{nick},#{password},0,1)
    </insert>

    <update id="updateMember" parameterType="map">
        update member
        <set>
            <if test="email != null">email = #{email},</if>
            <if test="password != null">password = #{password},</if>
            <if test="credit != null">credit = #{credit},</if>
            <if test="layerid != null">layerid = #{layerid},</if>
        </set>
        where nick = #{nick};
    </update>
    
    <update id="resetPassword">
        update member
        <set>
            <if test="pwd != null">password = #{pwd}</if>
        </set>
        <where>
            <if test="nick != null">nick = #{nick}</if>
        </where>
    </update>

    <delete id="deleteMember">
        <if test="nick != null">
            delete from member where nick = #{nick}
        </if>
    </delete>

</mapper>