*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family:index;
	src: url('img/other/JiZiJingDianDaBiaoSongJianFan-Shan(GEETYPE-DaBiaoSongGBT-Flash)-2.ttf');
}
#container{
	width: 100%;
	height: 100%;
	
}
#top{
	width: 100%;
	height: 0.3125rem;
	background-color: black;
}
#header{
	width: 100%;
	height: 1.75rem;
	background-color: white;
	position: relative;
	font-family: index;
}
#header .header_left_box{
	position: absolute;
	left: 10%;
	top: 10%;
	color: black;
	font-size: 110%;
}
a{
	text-decoration: none;
	color: black;
}
#header .header_right_box_one{
	position: absolute;
	left: 70%;
	color: black;
	top: 10%;
	font-size: 110%;
	padding-right: 1.875rem;
	border-right: 1px solid black;
}
#header .header_right_box_two{
	position: absolute;
	left: 80%;
	color: black;
	top: 10%;
	padding-right: 1.875rem;
	border-right: 1px solid black;
	font-size: 110%;
	
}
#header .header_left_box_three{
	position: absolute;
	left: 88%;
	color: black;
	top: 10%;
	padding-right: 1.875rem;
	font-size: 110%;
}
#search{
	width: 100%;
	height: 10.5rem;
	margin-top: 1.875rem;
}
#search .left{
	width: 100%;
	background-color: white;
	height: 12.5rem;
	text-align: center;
	float: left;
}
#search .left img{
	margin-top: 2rem;
	width: 8rem;
	height: 8rem;
}

#nav{
	width: 100%;
	height: 6.25rem;
	position: relative;
}

#nav .navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#nav .navMenu a {
  color: black;
  text-decoration: none;
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#nav .navMenu a:hover {
  color: #fddb3a;
}

#nav .navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#nav .navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#nav .navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#nav .navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#nav .navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#banner{
	width: 100%;
	height: 25rem;
	margin-bottom: 3.125rem;
}

#banner_header{
	font-family: index;
	padding-top: 6.25rem;
	width: 100%;
	height: 3.125rem;
	text-align: center;
	color: dimgray;
	letter-spacing: 0.625rem;
	font-size: 200%;
}

/*.carousel {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    opacity: 0;*/
/*  &.animation-reveal {*/
/*    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1);*/
/*  }*/
/*  @keyframes reveal {*/
/*    0% {*/
/*      opacity: 0;*/
/*    }*/
/*    100% {*/
/*      opacity: 1;*/
/*    }*/
/*  }*/
/*}*/

.card {
  margin: 0 1rem;
  overflow: hidden;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 35, 0.25);
  border-radius: 8px;
  height: 150px;
  width: 150px;
  display: block;
  position: relative;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
  transition: width 0.16s ease-in-out, height 0.16s ease-in-out;
}

.card.is-custom-selected {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  position: relative;
  height: 100%;
}

.flickity-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.box{
	margin: 10px auto;
}
.box .box_top{
	font-family: index;
	width: 100%;
	height: 3.125rem;
	text-align: center;
	color: dimgray;
	letter-spacing: 0.625rem;
	font-size: 200%;
}
.box .box_main{
	width: 70%;
	margin: 50px auto;
	height: 50rem;
}
.box button{
	width: 25%;
	font-family: index;
	height: 20px;
	box-shadow: 0px 3px 3px 0px dimgray;
	border: 1px double black;
	border-radius: 10px;
	background-color: white;
}
.box button:hover{
	transform: scale(1.1,1.1);
}
.box .box_main .box_left{
	height:90%;
	width: 50%;
	font-size: 0.625rem;
	font-family: index;
	text-align: center;
}

.box .box_main .box_left .img_1{
	width: 50%;
	height: 50%;
	float: left;
	box-shadow: 0px 0px 3px 0px dimgray;
	border-bottom-left-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	border-bottom: 3px solid #EAEAEA;
}
.box .box_main .box_left .img_1 img{
	width: 100%;
	height: 85%;
}
.box .box_main .box_left .img_1:hover{
	border-bottom: 0.2125rem solid black;
	transform:translateY(-0.625rem) ;
}
.box .box_main .box_left .img_2{
	width: 97%;
	height: 50.19%;
	margin-top: 0.625rem;
	float: left;
	box-shadow: 0px 0px 3px 0px dimgray;
	border-bottom-left-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	border-bottom: 3px solid #EAEAEA;
}
.box .box_main .box_left .img_2:hover{
	border-bottom: 0.2125rem solid black;
	transform:translateY(-0.625rem) ;
}
.box .box_main .box_left .img_2 img{
	width: 100%;
	height: 80%;
}
.box .box_main .box_left .img_3{
	margin-left: 3.125rem;
	width: 200px;
	height: 300px;
	float: left;
	box-shadow: 0px 0px 3px 0px dimgray;
	border-bottom-left-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	border-bottom: 3px solid #EAEAEA;
}
.box .box_main .box_left .img_3:hover{
	border-bottom: 0.2125rem solid black;
	transform:translateY(-0.625rem) ;
}
.box .box_main .box_left .img_3 img{
	width: 100%;
	height: 80%;
}
.box .box_main .box_right{
	height: 100%;
	width: 50%;
	float: right;
	text-align: center;
	font-family: index;
	font-size: 0.625rem;
}
.box .box_main .box_right .img_1{
	width: 100%;
	height: 40%;
	margin-bottom: 50px;
	box-shadow: 0px 0px 3px 0px dimgray;
	border-bottom-left-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	border-bottom: 3px solid #EAEAEA;
}
.box .box_main .box_right .img_1:hover{
	border-bottom: 0.2125rem solid black;
	transform:translateY(-0.625rem) ;
}
.box .box_main .box_right .img_2{
	width: 100%;
	height: 45%;
	box-shadow: 0px 0px 3px 0px dimgray;
	border-bottom-left-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	border-bottom: 3px solid #EAEAEA;
}
.box .box_main .box_right .img_2:hover{
	border-bottom: 0.2125rem solid black;
	transform:translateY(-0.625rem) ;
}
.box .box_main .box_right .img_1 img{
	width: 100%;
	height: 80%;
}
.box .box_main .box_right .img_2 img{
	width: 100%;
	height: 80%;
}
img{
	width: 1px;
	height: 1px;
}
#footer{
	width: 100%;
	height: 150px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #000000;
}
#footer a{
	color: white;
	font-family: index;
}
ul,ol{
	list-style-type: none;
}
#footer ul{
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
}
	
#footer ul li{
	width: 8.75rem;
	float: left;
	text-align: center;
	margin: 0px 20px;
}
#footer ol>li{
	line-height: 30px;
}
#footer ol>li:first-child a{
	font-weight: bold;
}
#footer img{
	margin-left: 20px;
	border-radius: 1.25rem;
	width: 150px;
	height: 90px;
}
#final{
	width: 100%;
	height: 80px;
	font-family: index;
	letter-spacing: 20px;
	text-align: center;
	color: white;
	background-color: #000000;
}
#final img{
	margin-top: 10px;
	margin-right: 15px;
	width: 50px;
	height: 50px;
}